*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 100%;
  font-family: 'Roboto', sans-serif;;
  background-color: lightgrey;
}
.grey-clr {
  color: grey;
}

main {
  width: 612px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 100px;
  background-color: #fff;
}
.section-top {
  padding: 1.8rem 4rem;
  clip-path: polygon(0 0, 100% 0, 100% 83%, 0% 100%);
  background: url(https://c4.wallpaperflare.com/wallpaper/353/481/98/baby-wallpaper-preview.jpg) center center no-repeat;
}
.section-top:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .1;
}

.btn:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .1;
}

.section-top_text {
  color: #fff;
  margin-top: 1.9rem;
}
.title {
  font-size: 2.5rem;
  position: relative;
}
h1 .star {
  display: inline-block;
  font-size: 1rem;
    transform: translate(0, -1rem);
-webkit-transform: translate(0, -1rem);
-moz-transform: translate(0, -1rem);
-o-transform: translate(0, -1rem);
}

h1 {
  font-size: 2.6rem;
  margin-bottom: 1rem;
}
.text-info {
  font-size: 1.1rem;
  line-height: 1.8;
  margin-bottom: 7rem;
}

.section-bottom {
  padding: 3.8rem 4rem;
  position: relative;
  padding-bottom: 2rem;
  color: #686868;
}
.cash-box {
  padding: .5rem .5rem;
  border: .8rem solid #00b85a;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  width: 14rem;
  font-size: 1rem;
  font-weight: 600;
  position: absolute;
  height: 8rem;
  border-bottom: none;
  background-color: white;
  bottom: 96%;
  z-index: 100;

  
}
.cash-box span {
  font-size: 2.3rem;
  display: block;
  text-align: center;
  margin-top: .8rem;
}
.cash-box span + p {
  display: block;
  text-align: center;
  margin-bottom: 3rem;

}

.cash-box:after {
  content: "";
  width: calc(100% + 1.6rem);
  height: 3rem;
  background-image: linear-gradient(rgba(255, 255, 255, 0), white 48%);;
  bottom: -1.4rem;
  right: -0.8rem;
  position: absolute;
}

.btn {
  background-color: #cc3333;
  width: 100%;
  padding: 1rem 1rem;
  overflow: hidden;
  border-radius: 2rem;
   margin-bottom:2.2rem ;
   position: relative;
}

.btn a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  font-size: 1.3rem;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  text-align: center;

}

.btn a svg {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.content {
  text-align: center;
  margin-bottom: 1.8rem;
}
h2 {
  font-size: 1rem;
  position: relative;
  display: block;
  text-align: center;
  margin-bottom: 1.4rem;
}

h2 .star {
  transform: translateX(-8px);
}
.content p {
  font-size: 0.8rem;
  line-height: 1.4;
  letter-spacing: 1;
}

.weight {
  font-weight: 600;
}
.weight span {
  text-decoration: underline;
}
h2 + p {
  margin-bottom: 1.4rem;
}
.logo-bottom {
  text-align: center;
}
.logo-black {
  width: 8rem;
  height: auto;
}

@media (max-width: 600px ){
  body{
    padding-left: 1rem;
    padding-right: 1rem;
  }
  main {
    width: 100%;
    text-align: center;
  }

  .logo-white {
    width: 270px;
  }
  
  h1 {
    font-size: 3rem;
    padding: 1rem;
  }
  .text-info {
    font-size: 1.5rem;
  }
  .cash-box {
    left: 50%;
    transform: translateX(-50%);
  }

}

@media (max-width: 500px ){
 html{
  font-size: 60%;
 }

 .section-top{
  padding: 3.8rem 2rem;
 }


}